@model IEnumerable<OnlineShop.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .button {
        background-color:crimson;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button3 {
        background-color:lawngreen;
    }
    .btn-update {
        background-color: green;
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }
    .btn-remove {
        background-color: crimson;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;

    {
        background-color: green;
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }
    }
    #cart {
        width: 100%;
        background-color: crimson;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
    }
    #non {
        background-color:gold;
        border: none;
        color: black;
        width: 70%;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        
    }
    .a{
        padding: 35px 5px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<h1 id="cart">Giỏ hàng</h1>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            
                        </thead>
                        <tbody>
                            @{
                                var sum = 0;
                            }
                            @if (Model != null)
                            {
                                <tr class="small text-uppercase">
                                    <th scope="col" width="400">Sản phẩm</th>
                                    <th scope="col" width="200">Số lượng</th>
                                    <th scope="col" width="200">Giá</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                                foreach (var item in Model)
                                {

                                    <tr id="product-@item.Product.Id">
                                        <td>
                                            <figure class="itemside">
                                                <div style="float:left" align="center">
                                                    @{
                                                        string ImagePath = "~/Content/images/" + item.Product.Avatar;
                                                    }
                                                    <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                                                </div>
                                                <figcaption class="info a">
                                                    <a href="~/Product/Index/@item.Product.Id" class="title text-dark">@item.Product.Name</a>
                                                </figcaption>
                                            </figure>
                                        </td>

                                        <td align="center" width="200">
                                            <div class="price-wrap a">
                                                @{
                                                    var sl = item.Quantity;
                                                    var price = item.Product.Price;
                                                    var total = sl * price;
                                                    sum = (int)(sum + total);
                                                    string tien = "";
                                                    int gia = (int)item.Product.Price;
                                                    tien = gia.ToString("#,##0");
                                                }
                                                <var class="price">@tien VND</var>
                                            </div> <!-- price-wrap .// -->
                                        </td>

                                        <td align="center" width="200">
                                            <form class="a" action="@Url.Action("UpdateAmount")" method="get">
                                                <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                                <input style="width:40px" type="number" min="1" step="1" name="newAmount" value="@item.Quantity" />
                                                <button class="btn-update" type="submit">Cập nhật </button>
                                            </form>
                                        </td>

                                        <td class="text-right">
                                            <form class="a" action="@Url.Action("Remove")" method="get">
                                                <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                                <button class="btn-remove" type="submit">Xóa </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <br />
                    @if (Session["count"] != null)
                    {
                        <div class="card-body border-top">
                            <button class="button button3"><a style="float:left" href="~/Home/Index" class="btn btn-light"> Tiếp tục mua sắm </a></button>
                            <div style="float:right">
                                <button class="button"><a style="float:right" href="~/Cart/Payment" class="btn btn-primary float-md-right"> Thanh toán MoMo <i class="fa fa-chevron-right"></i> </a></button>
                                <button class="button"><a style="float:right" href="~/Cart/PaymentCOD" class="btn btn-danger float-md-right"> Thanh toán trực tiếp <i class="fa fa-chevron-right"></i> </a></button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body border-top">
                            <button style="float:right" class="button button3"><a style="float:left" href="~/Home/Index" class="btn btn-light"> Tiếp tục mua sắm </a></button>
                            <div>
                                <div id="non">Không có sản phẩm trong giỏ hàng</div>
                            </div>
                        </div>
                    }
                </div> <!-- card.// -->

                

            </main> <!-- col.// -->
            <br />
            <br />
            <aside class="col-md-3">
                
                <div class="card">
                    <div class="card-body">
                        
                        <dl class="dlist-align">
                            @{ 
                                string tt = "";
                                tt = sum.ToString("#,##0");
                            }
                            <dt>Thành tiền: <span style="color:red">@tt VND</span></dt>
                            <dd class="text-right  h5"><strong></strong></dd>
                        </dl>
                        <hr>
                        

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>